@font-face {
  font-family: 'Yi Baiti';
  src: url('../fonts/Microsoft Yi Baiti.ttf');
}

* {
  margin: 0;
  font-weight: normal;
}

body {
  font-family:'Yi Baiti', Tahoma, Geneva, Verdana, sans-serif;
  color: #88c070;
  width: 85%;
  margin: auto;
  user-select: none;
  -webkit-user-drag: none;
}

img {
  position: fixed;
  user-select: none;
  z-index: -1;
  width: 85%;
}

header {
  padding-left: 4.6vw;
  padding-top: 14vw;
  line-height: 2.5vw;
  user-select: none;
}

a {
  display: block;
  width: fit-content;
  color: #88c070;
  font-size: 2.1vw;
  text-decoration: none;
  -webkit-user-drag: none;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 2.6vw;
}

p {
  font-size: 2.1vw;
}

li {
  font-size: 2.1vw;
}

ul {
  padding-left: 3.2vw;
}

a:hover {
  color: #e0f8d0;
}

/* Main */
main {
  line-height: 2vw;
  position: fixed;
  width: 50vw;
  left: 34.2vw;
  user-select:text;
}

main a {
  user-select: none;
}

main.twoline {
  top: 14.4vw;
}

main.oneline {
  top: 16.4vw;
}

main h2::selection {
  text-decoration: underline;
}

main p {
  padding-top: 1.2vw;
}

main li p {
  padding: 0;
}

main p::selection {
  background-color: transparent;
  text-decoration: underline;
}

main li::selection {
  text-decoration: underline;
}

/* Navbar */
nav {
  padding-left: 4.6vw;
  padding-top: 1vw;
}

.current {
  color: #e0f8d0;
}

#home span:hover:before {
  content: " ";
}

#about span:hover:before {
  content: " ";
}

#contact span:hover:before {
  content: " ";
}

#projects span:hover:before {
  content: " ";
}

/* Footer */
footer {
  padding-top: 13.6vw;
  width: 25vw;
}

footer p {
  text-align: right;
}