/* Main */
* {
  margin: 0;
  font-weight: normal;
}

body {
  font-family:'Microsoft Yi Baiti', Tahoma, Geneva, Verdana, sans-serif;
  color: #88c070;
  background-image: url("../img/background.png");
}

/* Basic text */
h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

p {
  font-size: 40px;
}

li {
  font-size: 40px;
}

/* Anchor */
a {
  color: #88c070;
  font-size: 40px;
  text-decoration: none;
}

a:hover {
  color: #e0f8d0;
}

/* Navbar */
nav {
  width: 300px;
}

.current {
  color: #e0f8d0;
}

#home span:hover:before {
  content: " ";
}

#about span:hover:before {
  content: " ";
}

#contact span:hover:before {
  content: " ";
}

#projects span:hover:before {
  content: " ";
}